
* {
	margin: 0;
	padding: 0;
}
  
body {
	margin: 0;
	padding: 0;
	background: #62B74B;
	color: #4e4e4e;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	outline: none;
}

input {
	width: 100%;
	height: 50px;
	border-radius: 4px;
	padding-left: 20px;
	padding-right: 20px;
}

input:focus {
	outline: 1px solid #B576A9;
	box-shadow: none;
}

button {
	width: 100%;
	height: 50px;
	border-radius: 4px;
	background: #B576A9;
	border: 1px solid #B576A9;
	color: white;
	cursor: pointer;
}

button:hover {
	background: #692F5E;
}

.mt-50 {
	margin-top: 50px;
}

.mt-20 {
	margin-top: 10px;
}

iframe {
	width: 100%;
	height: 100vh;
}

.alert {
	width: 100%;
	height: 50px;
	border-radius: 4px;
	background: red;
	border: 1px solid red;
	opacity: 0.5;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.text__unlogin h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	margin-top: 20%
}

.text__unlogin a {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px !important;
}